<div class="cards">
  <% @projects.each do |project| %>
      <div class="card" onclick="document.location.href='<%= edit_or_clone_path_for(project) %>'">
        <div class="card-image">
          <img src="<%= project.picture.url %>" alt="">
        </div>
        <div class="card-header">
          <%= project.name || "No name project" %>
        </div>
        <div class="card-copy">
          <ul>
            <li><%# fa_icon 'heart' %></li>
            <li><%# fa_icon 'comment-o' %></li>
            <% if (project.user == current_user) %>
                <li><%= link_to fa_icon('edit'), edit_project_path(project.id) %></li>
            <% end %>
            <li><%= link_to fa_icon('clone'), clone_project_path(project.id) %></li>
          </ul>
        </div>
      </div>
  <% end %>
  <div class="card new-project">
    <%= link_to fa_icon('plus-circle'), new_project_path %>
  </div>
</div>
